/* font-family: 'Yellowtail', cursive; */

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: 'Yellowtail', cursive;
  font-size: 2.5em;
  position: fixed;
  top: -.5em;
  left: .5em;
  color: var(--main-accent);
  cursor: pointer;
}