/* font-family: 'Yellowtail', cursive; */

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.logo {
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
  position: fixed;
  top: 0em;
  left: 1em;
  color: var(--main-accent);
  cursor: pointer;
}